/* Root >>> */
	@font-face {
	     font-family: Audiowide;
	     src: url('../assets/fonts/Audiowide.ttf');
	}

	@font-face {
	     font-family: Iceland;
	     src: url('../assets/fonts/Iceland.ttf');
	}

	@font-face {
	     font-family: Rye;
	     src: url('../assets/fonts/Rye.ttf');
	}

	@font-face {
	     font-family: NewRocker;
	     src: url('../assets/fonts/NewRocker.ttf');
	}

	* {
		margin: 0 auto;
		border: 0;
		padding: 0;
		text-align: center;
		font-family: Iceland;
	}

	body {
		width: 100vw;
		height: 100vh;
		overflow-x: hidden;
		overflow-y: auto;
		background: #00bff3;
	}
/* <<< Root */

/* Animation >>> */
	@keyframes blinker {
		50% { opacity: 0; }
	}

	@keyframes appear {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}

	@keyframes pulse {
		0% { transform: scale(0); }
		40% { transform: scale(1); }
		70% { transform: scale(1.3); }
		100% { transform: scale(1); }
	}

	@keyframes grow {
		0% { transform: scale(0); }
		100% { transform: scale(1); }
	}

	@keyframes lean {
		0% {
			transform: translate3d(0, 0, 0);
			animation-timing-function: ease-out;
		}
		50% {
			transform: translate3d(-1.4vw, 0, 0);
			animation-timing-function: ease-in;
		}
		100% {
			transform: translate3d(0, 0, 0);
		}
	}

	@keyframes spin {
		40% {
			transform: rotate3d(0, 1, 0, 360deg);
			animation-timing-function: ease-in-out;
		}
		100% {
			transform: rotate3d(0, 1, 0, 360deg);
			animation-timing-function: ease-in-out;
		}
	}

	@keyframes shake {
		5%, 25% {
			transform: translate3d(-0.3vw, 0.3vw, 0);
			animation-timing-function: ease-in-out;
		}
		10%, 30% {
			transform: translate3d(0.3vw, -0.3vw, 0);
			animation-timing-function: ease-in-out;
		}
		15% {
			transform: translate3d(-0.6vw, 0.6vw, 0);
			animation-timing-function: ease-in-out;
		}
		20% {
			transform: translate3d(0.6vw, -0.6vw, 0);
			animation-timing-function: ease-in-out;
		}
		35% {
			transform: translate3d(0, 0, 0);
			animation-timing-function: ease-in-out;
		}
	}

	@keyframes bounce {
		0% {
			transform: translate3d(0, 0, 0);
			animation-timing-function: ease-in;
		}
		50% {
			transform: translate3d(0, 1.2vw, 0);
			animation-timing-function: ease-out;
		}
		100% {
			transform: translate3d(0, 0, 0);
		}
	}

	@keyframes spinner {
		from {transform: rotateY(0deg);}
		to   {transform: rotateY(-360deg);}
	}

	@keyframes expand {
		100% {
			transform: scale3d(1.2, 1.2, 1.2);
			animation-timing-function: ease-in-out;
		}
	}

	@keyframes address_world_map {
		100% {
			width: 40vw;
			height:20.5vw;
			top: 0vw;
			transform: translate3d(-10vw, 0, 0);
			background-size: 35vw;
		}
	}

	@keyframes address_magnify {
		0% {opacity: 1;}
		100% {
			opacity: 1;
			transform: translate3d(-22.5vw, -7.6vw, 0);
		}
	}

	@keyframes address_post_box {
		100% {
			font-size: 2vw;
			font-weight: bold;
		}
	}

	@keyframes interests_swipe_right {
		100% {
			transform: translate3d(70vw, 0, 0);
		}
	}

	@keyframes interests_swipe_left {
		100% {
			transform: translate3d(-70vw, 0, 0);
		}
	}

	@keyframes strength_swipe_right {
		100% {
			transform: translate3d(70vw, 0, 0);
		}
	}
/* <<< Animation */

/* noscript >>> */
	noscript {
		width: inherit;
		height: inherit;
		position: absolute;
		z-index: 100;
		display: block;
		background: #00bff3;
	}

	.noscript .noscript_msg {
		position: relative;
		top: 30vh;
		color: #fff;
		font-family: Audiowide;
		font-weight: bold;
		font-size: 3vh;
	}

	.noscript_msg1 .noscript_msg_js {
		font-size: 9vh;
		display: block;
		color: #fce17e;
		text-shadow: 1px 1px 2px #00bff3, 0 0 25px blue, 0 0 5px darkblue;
	}

	.noscript_msg .noscript_msg1 {
		font-size: 4.8vh;
	}
/* <<< noscript */

/* yesscript >>> */
	.yesscript {
		height: inherit;
		width: inherit;
		overflow: hidden;
		background: #00bff3;
	}
/* <<< yesscript */

/* detect_ie >>> */
	#detect_ie {
		position: absolute;
		z-index: 99;
		height: inherit;
		width: inherit;
		background: #00bff3;
		animation: grow 6s linear 1;
	}

	#detect_ie .ie_msg {
		position: relative;
		top: 30vh;
		color: #fff;
		font-family: Audiowide;
		font-weight: bold;
		font-size: 2vw;
	}

	#detect_ie .browser_highlight_green {
		font-size: 2vw;
		color: #3c3;
		text-shadow: 1px 1px 2px #00bff3, 0 0 25px blue, 0 0 5px darkblue;
	}

	#detect_ie .ie_msg3 {
		font-size: 1.5vw;
	}
/* <<< detect_ie */

/* portrait mode >>> */
	#detect_portrait {
		position: absolute;
		z-index: 98;
		height: inherit;
		width: inherit;
		background: #00bff3;
	}
/* <<< portrait mode */

/* modal box >>> */
	.modal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

	/* Modal Content */
	.modal-content {
	    position: relative;
	    background-color: #fefefe;
	    margin: auto;
	    margin-top: 100px; /* Location of the box */
	    padding: 0;
	    border: 1px solid #888;
	    width: 80%;
	    max-width: 700px;
	    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	    -webkit-animation-name: animatetop;
	    -webkit-animation-duration: 0.4s;
	    animation-name: animatetop;
	    animation-duration: 0.4s
	}

	/* Add Animation */
	@-webkit-keyframes animatetop {
	    from {top:-300px; opacity:0}
	    to {top:0; opacity:1}
	}

	@keyframes animatetop {
	    from {top:-300px; opacity:0}
	    to {top:0; opacity:1}
	}

	/* The Close Button */
	.close {
	    color: white;
	    float: right;
	    font-size: 28px;
	    font-weight: bold;
	}

	.close:hover,
	.close:focus {
	    color: #000;
	    text-decoration: none;
	    cursor: pointer;
	}

	.modal-header {
	    padding: 10px 16px;
	    background-color: #f44336 ;
	    color: white;
	}

	.modal-body {
		padding: 2px 16px;
		margin: 100px 0;
		font-size: 24px;
		font-family: Iceland;
		font-weight: bold;
		color: #f44336 ;
	}

	.modal-footer {
	    padding: 2px 16px;
	    background-color: #f44336 ;
	    color: white;
	}
/* <<< modal box */

/* not_ready >>> */
	.not_ready {
		height: inherit;
		width: inherit;
		position: absolute;
		z-index: 97;
		background: #00bff3;
	}

	.loading {
		height: inherit;
		width: inherit;
		background: url("../assets/images/loading.gif") no-repeat fixed center;
	}
/* <<< not_ready */

/* i_am_ready >>> */
	.i_am_ready {
		width: inherit;
		height: inherit;
		position: absolute;
		overflow: hidden;
	}

	.main_display {
		width: inherit;
		height: inherit;
		overflow: auto;
		position: relative;
	}

	.container_block {
		display: none;
	}

	.main_display .click_press_touch {
		display: none;
		position: absolute;
		background: url(../assets/images/cpt.png) center no-repeat;
		background-size: 10vw;
		height: 10vw;
		width: 12vw;
		opacity: 0.7;
		animation: shake 2s infinite linear;
	}

	.main_display .modal_overlay {
		position: absolute;
		display: none;
		width: 100%;
		height: 100%;
		z-index: 88;
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
	}
/* <<< i_am_ready */

/* avatar_container >>> */
	.avatar_container {
		display: block;
	}

	.avatar_container #avatar_img {
		width:0.01vw;
		height: 0.01vw;
		margin-top: 6vw;
		opacity: 0.4;
	}

	.avatar_container .stage {
		display: none;
	}

	.avatar_container_min .stage {
		display: block;
		position: relative;
		top: 2.3vw;
		margin: 0.8vw auto;
		width: 9.05vw;
		height: 6.95vw;
		perspective: 30vw;
	}

	.stage .spinner {
		text-align: left;
		animation: spinner linear 20s infinite;
		transform-style: preserve-3d;
	}

	 .stage .spinner:hover {
		animation-play-state: paused;
	  }

	.stage .avatar_img_spin {
		position: absolute;
		border: 0.2vw solid #ccc;
		background: rgba(255,255,255,0.8);
		box-shadow: inset 0 0 20px rgba(0,0,0,0.8);
		width: 6.3vw;
		padding: 0 1.2vw;
	}

	.stage .avatar_img_spin1 {
		transform: rotateY(0deg) translateZ(6.5vw);
	}

	.stage .avatar_img_spin2 {
		transform: rotateY(-72deg) translateZ(6.5vw);
	}

	.stage .avatar_img_spin3 {
		transform: rotateY(-144deg) translateZ(6.5vw);
	}

	.stage .avatar_img_spin4 {
		transform: rotateY(-216deg) translateZ(6.5vw);
	}

	.stage .avatar_img_spin5 {
		transform: rotateY(-288deg) translateZ(6.5vw);
	}

	.avatar_container .intro_box {
		margin: 0 auto;
		border-radius: 0.2vw;
		margin-top: 0.3vw;
		background: #000;
		width: 0;
		height: 5.45vw;
		line-height: 5.45vw;
		font-size: 2vw;
		color: #33fc33;
		font-family: Audiowide;
	}

	.avatar_container .instruction_box {
		margin-top: 2.3vw;
	}

	.instruction_box .instruction_msg {
		border: 0.1vw solid #0089f3;
		border-radius: 0.3vw;
		background: #e7ff99;
		line-height: 2.72vw;
		height: 2.72vw;
		width: 45vw;
		font-size: 1.6vw;
		font-weight: bold;
		margin-top: 2vw;
		margin-left: -82vw;
		color: #0077f3
	}

	.instruction_box .instruction_msg2 {
		animation: spin 2s linear infinite;
		animation-delay: 1s;
	}
/* <<< avatar_container */

/* quote_container >>> */
	.quote_container {
		background: url("../assets/images/banner2.png") no-repeat;
		background-size: 67vw 11.356vw;
		position: absolute;
		text-align: left;
		font-weight: bold;
		font-size: 1.6vw;
		color: #FFF;
		width: 54.1vw;
		height: 7.4vw;
		top: 0.2vw;
		left: 17.2vw;
		padding: 3vw 9.72vw 1vw 3vw;
	}
/* <<< quote_container */

/* map_container >>> */
	.map_container {
		background: url("../assets/images/map.png") no-repeat;
		background-size:  51.7vw 38.6vw;
		border: 0.32vw solid #222;
		border-radius: 0.6vw;
		width: 51.7vw;
		height: 38.7vw;
		text-align: left;
		position: absolute;
		overflow: hidden;
		z-index: 89;
		top:13.3vw;
		left:24vw;
		animation: grow 400ms linear 1;
		transform-origin: 50% 30%;
	}

	.map_container .map_location {
		width: 14vw;
		height: 1vw;
		position: absolute;
		text-align: center;
		font-family: Arial;
		font-size: 0.7vw;
		font-weight: bold;
		color: #ffff36;
		cursor: pointer;
		transition: transform .2s ease-in-out;
	}

	.map_container_min .map_location {
		width: 3.8vw;
		height: 0.35vw;
		font-size: 0.19vw;
	}

	.map_container .map_location:hover {
		transform: scale(1.5);
	}

	.map_container .map_welcome {
		background: url(../assets/images/banner.png) center bottom no-repeat, url(../assets/images/welcome.png) center top no-repeat;
		background-size: 14vw 2vw, 3vw;
		padding-top: 3.1vw;
		top: 30.6vw;
		left: 2.6vw;
	}

	.map_container_min .map_welcome {
		background-size: 3.8vw 0.54vw, 0.54vw;
		padding-top: 0.58vw;
		top: 8.5vw;
		left: 0.7vw;
	}

	.map_container .map_about_me {
		background: url(../assets/images/banner.png) center bottom no-repeat, url(../assets/images/about_me.png) center top no-repeat;
		background-size: 14vw 2vw,  3.2vw;
		padding-top: 3.3vw;
		top: 25.6vw;
		left: 10.46vw;
	}

	.map_container_min .map_about_me {
		background-size: 3.8vw 0.54vw, 0.86vw;
		padding-top: 0.86vw;
		top: 6.86vw;
		left: 2.83vw;
	}

	.map_container .map_strength {
		background: url(../assets/images/banner.png) center bottom no-repeat, url(../assets/images/strength.png) center top no-repeat;
		background-size: 14vw 2vw,  4.3vw;
		padding-top: 5.6vw;
		top: 27.5vw;
		left: 25.6vw;
	}

	.map_container_min .map_strength {
		background-size: 3.8vw 0.54vw, 1.03vw;
		padding-top: 1.35vw;
		top: 7.56vw;
		left: 6.91vw;
	}

	.map_container .map_skills {
		background: url(../assets/images/banner.png) center bottom no-repeat, url(../assets/images/skills.png) center top no-repeat;
		background-size: 14vw 2vw,  2vw;
		padding-top: 2.1vw;
		top: 28.2vw;
		left: 38.6vw;
	}

	.map_container_min .map_skills {
		background-size: 3.8vw 0.54vw, 0.54vw;
		padding-top: 0.49vw;
		top: 7.7vw;
		left: 10.41vw;
	}

	.map_container .map_education {
		background: url(../assets/images/banner.png) center bottom no-repeat, url(../assets/images/education.png) center top no-repeat;
		background-size: 14vw 2vw,  3.2vw;
		padding-top: 3.3vw;
		top: 20.8vw;
		left: 33.3vw;
	}

	.map_container_min .map_education {
		background-size: 3.8vw 0.54vw, 0.86vw;
		padding-top: 0.82vw;
		top: 5.6vw;
		left: 9.0vw;
	}

	.map_container .map_experience {
		background: url(../assets/images/banner.png) center bottom no-repeat, url(../assets/images/experience.png) center top no-repeat;
		background-size: 14vw 2vw, 7vw;
		padding-top: 7.1vw;
		top: 19.4vw;
		left: 20.6vw;
	}

	.map_container_min .map_experience {
		background-size: 3.8vw 0.54vw, 1.62vw;
		padding-top: 1.53vw;
		top: 5.53vw;
		left: 5.56vw;
	}

	.map_container .map_portfolio {
		background: url(../assets/images/banner.png) center bottom no-repeat, url(../assets/images/portfolio.png) center top no-repeat;
		background-size: 14vw 2vw, 4vw;
		padding-top: 3.6vw;
		top: 17.9vw;
		left: 13.08vw;
	}

	.map_container_min .map_portfolio {
		background-size: 3.8vw 0.54vw, 1.08vw;
		padding-top: 0.8vw;
		top: 4.8vw;
		left: 3.5vw;
	}

	.map_container .map_interests {
		background: url(../assets/images/banner.png) center bottom no-repeat, url(../assets/images/interests.png) center top no-repeat;
		background-size: 14vw 2vw, 6vw;
		padding-top: 4.0vw;
		top: 12.6vw;
		left: 25.8vw;
	}

	.map_container_min .map_interests {
		background-size: 3.8vw 0.54vw, 1.62vw;
		padding-top: 1.0vw;
		top: 3.5vw;
		left: 6.97vw;
	}

	.map_container .map_testimonial {
		background: url(../assets/images/banner.png) center bottom no-repeat, url(../assets/images/testimonial.png) center top no-repeat;
		background-size: 14vw 2vw, 3.2vw;
		padding-top: 2.3vw;
		top: 10.0vw;
		left: 36.9vw;
	}

	.map_container_min .map_testimonial {
		background-size: 3.8vw 0.54vw, 0.86vw;
		padding-top: 0.5vw;
		top: 2.75vw;
		left: 9.96vw;
	}

	.map_container .map_address {
		background: url(../assets/images/banner.png) center bottom no-repeat, url(../assets/images/address.png) center top no-repeat;
		background-size: 14vw 2vw, 1.4vw;
		padding-top: 1.7vw;
		top: 5.4vw;
		left: 26.7vw;
	}

	.map_container_min .map_address {
		background-size: 3.8vw 0.54vw, 0.38vw;
		padding-top: 0.35vw;
		top: 1.5vw;
		left: 7.21vw;
	}

	.map_container .map_resume {
		background: url(../assets/images/banner.png) center bottom no-repeat, url(../assets/images/resume.png) center top no-repeat;
		background-size: 14vw 2vw, 3.2vw;
		padding-top: 3.3vw;
		top: 4.9vw;
		left: 13.8vw;
	}

	.map_container_min .map_resume {
		background-size: 3.8vw 0.54vw, 0.86vw;
		padding-top: 0.77vw;
		top: 1.4vw;
		left: 3.67vw;
	}

	.map_container .map_end {
		background: url(../assets/images/banner.png) center bottom no-repeat, url(../assets/images/end.png) center top no-repeat;
		background-size: 14vw 2vw, 2vw;
		padding-top: 2.3vw;
		top:14.8vw;
		left: 7.6vw;
	}

	.map_container_min .map_end {
		background-size: 3.8vw 0.54vw, 0.54vw;
		padding-top: 0.53vw;
		top: 4.0vw;
		left: 2.05vw;
	}

	.map_container .map_start_over {
		display: none;
	}

	.map_container_min .map_pointer {
		display: none;
	}

	.map_container .map_crosshair,
	.map_container .map_zoom {
		display: none;
	}

	.map_container .map_pointer {
		background: url(../assets/images/pointer.png) no-repeat;
		position: absolute;
		background-size: 1.2vw;
		width: 1.2vw;
		height: 1.72vw;
		animation: bounce 400ms linear infinite;
	}

	.map_container_min .map_crosshair {
		background: url(../assets/images/crosshair.svg) no-repeat;
		background-size: 10vw;
		position: absolute;
		display: block;
		width: 2.4vw;
		height: 2.4vw;
		animation: grow 400ms linear infinite;
	}

	.map_container_min .map_zoom {
		background: url(../assets/images/zoom.png) no-repeat;
		background-size: 2vw;
		position: absolute;
		display: block;
		width: 2vw;
		height: 2vw;
		top: 0;
		left:12.1vw;
		cursor: pointer;
		opacity: 0.7;
		animation: spin 2s linear infinite;
	}

	.map_container_min:hover .map_zoom {
		animation: 0;
		margin-top: 0.4vw;
		margin-left: -0.4vw;
		transform: scale3d(2, 2, 2);
	}

	.map_container_min .map_zoom:hover {
		opacity: 1;
	}

	.map_container .map_pointer_welcome {
		top: 27.4vw;
		left: 9vw;
	}

	.map_container_min .map_crosshair_welcome {
		top: 7.8vw;
		left: 1.5vw;
	}

	.map_container .map_pointer_about_me {
		top: 22.4vw;
		left: 17vw;
	}

	.map_container_min .map_crosshair_about_me {
		top: 6.2vw;
		left: 3.6vw;
	}

	.map_container .map_pointer_strength {
		top: 24.9vw;
		left: 32.2vw;
	}

	.map_container_min .map_crosshair_strength {
		top: 7.3vw;
		left: 7.65vw;
	}

	.map_container .map_pointer_skills {
		top: 25.2vw;
		left: 44.7vw;
	}

	.map_container_min .map_crosshair_skills {
		top: 6.8vw;
		left: 11.15vw;
	}

	.map_container .map_pointer_education {
		top: 17.7vw;
		left: 39.8vw;
	}

	.map_container_min .map_crosshair_education {
		top: 5vw;
		left: 9.8vw;
	}

	.map_container .map_pointer_experience {
		top: 16.6vw;
		left: 27.1vw;
	}

	.map_container_min .map_crosshair_experience {
		top: 5.2vw;
		left: 6.3vw;
	}

	.map_container .map_pointer_portfolio {
		top: 15.6vw;
		left: 19.8vw;
	}

	.map_container_min .map_crosshair_portfolio {
		top: 4.2vw;
		left: 4.2vw;
	}

	.map_container .map_pointer_interests {
		top: 10.5vw;
		left: 32vw;
	}

	.map_container_min .map_crosshair_interests {
		top: 2.9vw;
		left: 7.7vw;
	}

	.map_container .map_pointer_testimonial {
		top: 7.4vw;
		left: 43.3vw;
	}

	.map_container_min .map_crosshair_testimonial {
		top: 1.9vw;
		left: 10.8vw;
	}

	.map_container .map_pointer_address {
		top: 2.8vw;
		left: 33.1vw;
	}

	.map_container_min .map_crosshair_address {
		top: 0.58vw;
		left: 8.02vw;
	}

	.map_container .map_pointer_resume {
		top: 1.8vw;
		left: 20.2vw;
	}

	.map_container_min .map_crosshair_resume {
		top: 0.65vw;
		left: 4.42vw;
	}

	.map_container .map_pointer_end {
		top: 12.2vw;
		left: 14.2vw;
	}

	.map_container_min .map_crosshair_end {
		top: 3.05vw;
		left: 2.85vw;
	}
/* <<< map_container */

/* sign_post_container >>> */
	.sign_post_container {
		position: fixed;
		text-align: center;
		bottom: 90vh;
		right: 0.4vw;
		padding-top: 7.3vw;
		padding-left: 12vw;
		overflow: hidden;
	}

	.sign_post_container img.sign_post {
		width: 14vw;
		margin-bottom: -0.5vw;
	}

	.sign_post_container img.sign_post_red_arrow {
		display: none;
		position: absolute;
		width: 14vw;
		top:0;
		left:0;
		animation: blinker 300ms linear 2;
	}

	.sign_post_container div {
		font-family: Arial;
		font-weight: bold;
		color: #FFF;
		position: absolute;
		width: 12.4vw;
		padding: 0 0.8vw;
	}

	.sign_post_container .sign_post_location.animate {
		animation-name: pulse;
		animation-duration: 400ms;
		transform-origin: 50% 50%;
		animation-iteration-count: 1;
		animation-timing-function: linear;
	}

	.sign_post_container .sign_post_location {
		font-size: 1.3vw;
		height: 4vw;
		top: 8.4vw;
	}

	.sign_post_container .sign_post_next {
		text-align: left;
		font-size: 0.74vw;
		line-height: 2vw;
		height: 2vw;
		top: 12.6vw;
	}

	.sign_post_container .sign_post_next_hover {
		background: url(../assets/images/white_arrow.png) right no-repeat;
		background-size: 3vw;
		cursor: pointer;
		height: 2vw;
		width:11.55vw;
		top: 12.66vw;
		left: 12.45vw;
		transition: transform ease-in-out 200ms;
	}

	.sign_post_container .sign_post_next_hover:hover {
		background: url(../assets/images/yellow_arrow.png) right no-repeat;
		background-size: 3vw;
		animation: lean 1.0s linear infinite;
	}
/* <<< sign_post_container */

/* content_display_container >>> */
	.content_display_container {
		position: absolute;
		top: 12.2vw;
		left: 0;
		height: 41.5vw;
	}

	.content_display_container .content_subcontainer {
		display: none;
		width: 80vw;
		height: 41.5vw;
		margin: 0 10vw;
	}
/* <<< content_display_container */

/* About Me >>> */
	.content_display_container .content_about_me {
		background: url(../assets/images/book.svg) center no-repeat;
		background-size: 70vw 41vw;
		animation: grow 0.5s 1;
	}

	.content_display_container .content_about_me: after {
		clear: both;
	}

	.content_about_me .about_me_page {
		margin-top: 2vw;
		padding: 2vw;
		width:23.4vw;
		height: 32vw;
	}

	.content_about_me .coffee_stain {
		background: url(../assets/images/coffee_stain.svg) center no-repeat;
		background-size: 12vw;
		position: absolute;
		top: 20vw;
		left: 17vw;
		width: 12vw;
		height: 12vw;
	}

	.content_about_me .left_page {
		float: left;
		text-align: justify;
		margin-left: 11.4vw;
		color: #362921;
	}

	.content_about_me .left_page p {
		font-family: NewRocker;
		font-size:0.9vw;
		line-height: 1.2vw;
		text-align: justify;
		margin-top: 2vw;
	}

	.content_about_me h1 {
		background:  url(../assets/images/title.png) center bottom no-repeat;
		background-size: 12vw 1vw;
		margin-bottom: 1.4vw;
		font-family: Rye;
		font-size:1.6vw;
		font-weight: normal;
		color: #362921;
		height: 3vw;
	}

	.content_about_me .right_page {
		float: right;
		text-align: right;
		margin-right: 11.4vw;
		position: relative;
	}

	.content_about_me .photo {
		background: url(../assets/images/frame.png) center no-repeat, url(../assets/images/photo.jpg) center no-repeat;
		background-size: 19vw 22vw, 14vw;
		filter: sepia(90%);
		padding: 0.6vw;
		width: 19vw;
		height: 22vw;
	}
/* <<< About Me */

/* Strength >>> */
	.content_display_container .content_strength {
		width: 90vw;
		margin-left: 5vw;
		margin-right: 0vw;
		overflow: hidden;
	}

	.content_strength .strength {
		width: 31.1vw;
		height: 5.3vw;
		line-height: 5.3vw;
		font-size: 2vw;
		background: #c3ff99;
		border: 0.2vw solid #007b33;
		border-radius: 0.6vw;
		margin-top: 0.2vw;
		text-align: left;
		padding-left: 8.8vw;
		margin-left: -45vw;
		animation: strength_swipe_right 0.2s;
    	animation-fill-mode: forwards;
	}

	.content_strength .order1 {
		background: url(../assets/images/solution.png) 1vw center no-repeat #c3ff99;
		background-size: 7vw;
		animation-delay: 1s;
	}

	.content_strength .order2 {
		background: url(../assets/images/thinking.png) 1vw center no-repeat #c3ff99;
		background-size: 6vw;
		animation-delay: 1.5s;
	}

	.content_strength .order3 {
		background: url(../assets/images/resource.png) 3vw center no-repeat #c3ff99;
		background-size: 2.3vw;
		animation-delay: 2s;
	}

	.content_strength .order4 {
		background: url(../assets/images/positive.png) 2vw center no-repeat #c3ff99;
		background-size: 4vw;
		animation-delay: 2.5s;
	}

	.content_strength .order5 {
		background: url(../assets/images/learner.png) 1vw center no-repeat #c3ff99;
		background-size: 6vw;
		animation-delay: 3s;
	}

	.content_strength .order6 {
		background: url(../assets/images/analysis.png) 2vw center no-repeat #c3ff99;
		background-size: 4.4vw;
		animation-delay: 3.5s;
	}

	.content_strength .order7 {
		background: url(../assets/images/never.png) 1vw center no-repeat #c3ff99;
		background-size: 6.3vw;
		animation-delay: 4s;
	}
/* <<< Strength */

/* Interests >>> */
	.content_display_container .content_interests {
		width: 90vw;
		margin-left: 5vw;
		margin-right: 0vw;
		overflow: hidden;
	}

	.content_interests .interests {
		width: 45vw;
		height: 7vw;
		line-height: 7vw;
		font-size: 2vw;
		background: #fbdb65;
		border: 0.2vw solid #d60;
		border-radius: 0.6vw;
		margin-top: 0.6vw;
	}

	.content_interests .hidden_left {
		text-align: left;
		padding-left: 9.8vw;
		margin-left: -68vw;
		animation: interests_swipe_right 0.2s;
    	animation-fill-mode: forwards;
	}

	.content_interests .hidden_right {
		text-align: right;
		padding-right: 9.8vw;
		margin-right: -68vw;
		animation: interests_swipe_left 0.2s;
    	animation-fill-mode: forwards;
	}

	.content_interests .order1 {
		background: url(../assets/images/cricket.png) 1vw center no-repeat #fbdb65;
		background-size: 8vw;
		animation-delay: 1.3s;
	}

	.content_interests .order2 {
		background: url(../assets/images/movies.png) right 1.3vw center no-repeat #fbdb65;
		background-size: 7vw;
		animation-delay: 2s;
	}

	.content_interests .order3 {
		background: url(../assets/images/music.png) left 1.5vw center no-repeat #fbdb65;
		background-size: 7vw;
		animation-delay: 2.7s;
	}

	.content_interests .order4 {
		background: url(../assets/images/games.png) right 0.9vw center no-repeat #fbdb65;
		background-size: 8vw;
		animation-delay: 3.4s;
	}

	.content_interests .order5 {
		background: url(../assets/images/rubik.png) left 0.6vw center no-repeat #fbdb65;
		background-size: 9vw;
		animation-delay: 4.1s;
	}
/* <<< Interests */

/* Testimonial >>> */
	.content_display_container .content_testimonial {
		background: url(../assets/images/coming_soon.png) center no-repeat;
		background-size: 60vw;
		animation: appear 2s 1;
	}
/* <<< Testimonial */

/* Address >>> */
	.content_address {
		position: relative;
	}

	.content_address .world_map {
		background: url(../assets/images/world_map.png) center no-repeat;
		background-size: 70vw;
		width: 80vw;
		height: 41.5vw;
		position: absolute;
		top: 0vw;
		animation: grow, address_world_map;
		animation-delay: 0s, 1.5s;
    	animation-duration: 1.2s, 1.2s;
    	animation-fill-mode: forwards;
	}

	.content_address .post_box {
		background: url(../assets/images/post_box.png) center no-repeat;
		background-size: 42vw;
		width: 46vw;
		height: 41.5vw;
		position: absolute;
		top: 0vw;
		left:17vw;
		line-height: 40vw;
		animation: address_post_box;
		animation-delay: 2.8s;
    	animation-duration: 0.6s;
    	animation-fill-mode: forwards;
	}

	.content_address .magnify_glass {
		opacity: 0;
		background: url(../assets/images/magnify.png) center no-repeat;
		background-size: 33vw;
		width:35vw;
		height: 23vw;
		position: absolute;
		top: 18vw;
		left: 54vw;
		animation: address_magnify;
		animation-delay: 2.2s;
    	animation-duration: 1.2s;
    	animation-fill-mode: forwards;
	}
/* <<< Address */

/* Resume >>> */
	.content_resume: after {
		clear: both;
	}

	.content_resume .pdf_resume {
		width:24vw;
		height: 36vw;
		float: left;
		margin-left: 15vw;
		position: relative;
	}

	.content_resume .word_resume {
		width:24vw;
		height: 36vw;
		float: right;
		margin-right: 15vw;
		position: relative;
	}

	.content_resume img {
		position: absolute;
	}

	.content_resume .folder {
		max-width: 20vw;
		min-width: 20vw;
		top:17vw;
	}

	.content_resume .pdf_folder {
		left: 0vw;
	}

	.content_resume .word_folder {
		left: 4vw;
	}

	.content_resume .resume {
		max-width: 12vw;
		min-width: 12vw;
		top:10vw;
		cursor: pointer;
		transition: transform 0.2s ease-in-out
	}

	.content_resume .resume:hover {
		transform: translate3d(0, -9.3vw, 0);
	}

	.content_resume .pdf_file {
		left: 2vw;
	}

	.content_resume .word_file {
		left: 6vw;
	}
/* <<< Resume */

/* End >>> */
	.content_display_container .content_end {
		background: url(../assets/images/end.png) center top no-repeat;
		background-size: 20vw;
		height: 20.5vw;
		margin: -7vw 10vw 0 10vw;
		animation: grow 0.5s 1;
		padding-top: 21vw;
	}

	.content_end h1 {
		margin-bottom:  1vw;
	}

	.content_end ul li {
		font-size: 1vw;
	}
/* <<< End */

/* Start Over >>> */
	.start_over {
		display: none;
		background: #FF0000;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		border: 0.8vw solid;
		width: 24vw;
		height: 12vw;
		line-height: 12vw;
		font-size: 4.5vw;
		font-weight: bold;
		color: #FFFFFF;
		margin: 0 auto;
		position: absolute;
		top: 30vh;
		left: 37.2vw;
		z-index: 90;
		animation: spin 2s linear infinite;
		animation-delay: 1s;
		cursor: pointer;
		transition: background 0.6s ease-in-out;
	}

	.start_over:hover {
		background: #FFFF00;
		color: #FF0000;
		transform: scale3d(1.2, 1.2, 1.2);
	}
/* <<< Start Over */